body, html {
  box-sizing: border-box;
  font-size: 16px ;
  font-family:'Roboto', sans-serif;
}

:root {
  --footer: rgba(17, 50, 75, 1);
  --red: rgba(110,23,25, 1);
  --redHover:  rgba(200,23,25, 1);
  --blue: rgba(6,39,59,1)
}

.clearfix {
	clear: both;
}

.eupopup-container {
	background-color:var(--blue);
	color: #efefef;
	padding: 5px 20px;
	font-size: 1rem;
	line-height: 1.5rem;
	display: none;
	z-index: 9999999;
  border-top: 3px solid var(--red);
  text-align: center;
}


.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
	font-size: 1.5rem;
	font-weight: 400;
	color: #fafafa;
	position: absolute;
	font-family: helvetica, arial, verdana, sans-serif;
	top: 0; right: 0;
	padding: 3px 10px 5px 10px;
  border: 2px solid #fafafa;
  border-radius: 40px;
  margin: 10px;
}
a.eupopup-closebutton:link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
a.eupopup-closebutton:hover{
  color: var(--redHover);
  border: 2px solid var(--redHover);
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}


.eupopup-head {
	font-size: 1.25rem;
	font-weight: 400;
  padding: 10px;
	color: #fafafa; /*headline */
}

.eupopup-body {
	color: #fafafa; /*Text feld*/
  font-weight: 400;
  font-size: 1rem;
}

.eupopup-body a:link {
  color: #fafafa;
  font-size: 1rem;
  text-decoration: underline;
}

.eupopup-body a:hover, .eupopup-body a:active {
  color: var(--redHover);
  transition: all 0.2s ease-in-out;
}
.eupopup-body a:visited {
  color: var(--redHover);
}


/*a.link:hover only for the intext links not the hyperlinks*/
a:link, a:visited, a.link:hover, a:active {
  text-decoration: none;
}

.eupopup-buttons {
	padding: 20px 0 20px 0;
  font-size: 1rem;
  font-weight: 400;

}
.eupopup-buttons a:link {
  text-decoration: none;
}

.eupopup-button_1 {
	color: #fafafa;
	font-weight: 400;
  background-color: var(--red);
  border-radius: 50px;
  padding: 10px 20px;;
  transition: all 0.2s ease-in-out;
}

a.eupopup-button.eupopup-button_1:hover {
  background-color: var(--redHover);
  color:#fafafa;
}

.eupopup-button_2 {
	color: #fafafa;
	font-weight: 600;
  transition: all 0.2s ease-in-out;
}

a.eupopup-button_2{
text-decoration: underline;
}

.eupopup-button {
	margin: 0 10px;
}

.eupopup-button:hover,
.eupopup-button:focus {
	text-decoration: underline;
	color: var(--redHover);
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}


/*Cookie Page*/

.home {
  color: var(--sub5-ft-colorwhite);
  font-size: 1.125rem;
  padding: 1rem 0rem;
  font-weight: 500;
}
section.grid-container.container0 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
  justify-content: center;
  padding: 0rem 1rem 2rem 1rem;
  grid-gap: 0rem 1rem;
}

.grid-item1, .grid-item2 {
  padding: 1rem;
  text-align: center;
  background-color: var(--sub-ft-color-blue);
  margin-top: 1rem;
  border-radius: 4px;
}

.grid-item h2{
  color: var(--main-bg-color-white);
}
.grid-item h1 {
  font-size: 2rem;
  border: none;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
section.grid-container.container0 a{
  text-decoration: none;
}
a:hover .grid-item1, a:hover .grid-item2 {
  text-decoration: none;
  background-color: var(--main-ft-color-red);
  -webkit-transition: background-color 150ms linear 0ms;transition: background-color 150ms linear 0ms;
}

.grid-item {
  height: auto;
}
section.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 10% 1fr 1fr 10%);
  background-color: var(--main-bg-color-white);
}

section.grid-container.container1{
  background-color: var(--main-bg-color-white);
  /* padding: 2rem 0; */
}
section.grid-container.container2 {
  background-color: var(--sub5-ft-colorwhite);
}

.grid-item3, .grid-item4, .grid-item5{
  grid-column: 2 /4;
}

.cookieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 20rem));
  justify-content: center;
}

.cookie {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.cookie1 {
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.cookie2 {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.cookie3 {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.cookie h5 {
  text-align: left;
  background-color: var(--sub5-ft-colorwhite);
  border-bottom: 1px solid #f0f0f0;
  padding: .5rem;
  font-size: 1rem;
  margin: 0;
}
.cookie p{
  font-size: .9rem;
  padding: 0rem .5rem;
}
.cookie p.bold {
  font-weight: 600;
}
.cookie2 a:link {
  color:var(--main-ft-color-red);
}

.grid-item a {
}

.grid-item a:hover {
  color:var(--main-ft-color-red);
  text-decoration: underline;
}
