/* Portrait phones max470 */

@media all and (max-width: 470px) {

  h1 {font-size: 2.75rem;}
  h2 {font-size: 1.35rem;}
  h3 {font-size: 1rem;}
  h2.text-box__text--fontsize{font-size: 1.75rem;
  line-height: 1.3;}
  .text--size {font-size: 1.5rem;}
  h3.text-box__text--small{font-size: 1rem;}
  div.project h3.project__header__text{font-size: 1.25rem;}
  div.project div.project__overlay div.project__description p {font-size: 1rem;}

/* navbar */
  .navbar--desktop {display: none;}

  /* main section  */
  hr {margin: 2.5rem 0rem 1rem 0rem;}
  .row {width: 100%;}
  section {padding-bottom: 2rem;}
  .row--margintop {margin-top: .5rem;}
  .text--align {text-align: center;}
  .p--fontweight--sm {font-weight: 400;}
  .p--fontsize--sm{font-size: 1.125rem;}
  .text--padding {padding: 2rem 0rem 1rem 0rem}
  .text--marginbottom {margin-bottom: 1rem;}
  div.project div.project__overlay div.project__description p{
    font-size: 1rem; /* adjust to very small screens*/
  }
  .hr--color{color:blue;}
  .row-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  .row-column--align {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .hide--sm470-767, .hide--sm470, .hide--Rhein {display: none;}
  .experience {margin: 0;padding: 0;}

  /* apple background fix */
  .container-fluid__banner {
    background-position: center;
    background-attachment: local;
  }
  .arrow {
    left: 0;
    width: 100%;
    border-radius: 0px;
    background-color: #062C42;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
  }
  a .arrow:hover {
    background-color: var(--main-ft-color-red);
  }

  a .arrow:active, .arrow:visited {
    background-color: #062C42;
  }
  .arrow i {
    font-size: 1.5rem;
  }

  div.project div.project__link-box {
    height: 36px;
    width: 36px;
  }

  div.project div.project__link-box i {
    font-size: .935rem;
  }

  ul.nav li a:active {background-color: #062C42;} /* fixed ipad/apple hover/active bug by
  making active state dissapear by setting the same background color as on nav */

  ul.skills.skills--nopadding {padding-top: 0;}
  .col-sm-6--marginbottom {margin-bottom: 1rem;}
  .row--margintop2 {margin-top: 1rem;}
  footer {height: 22rem;}

  div.language-box {
    position: absolute;
    top:2%;
    left:50%;
    margin-left:-75px;
  }


  /* project section */
}
