/* tablets portrait view*/

@media all and (min-width: 768px) and (max-width: 1024px){


  /* navbar */
.navbar {
  display: none;
}

.navbar ul.nav.nav-tabs li, .arrow {width: 6rem;}
.navbar ul.nav.nav-tabs li a, .navbar ul.nav.nav-tabs li a:hover {
  padding: 1.5rem 0rem;
  font-size: 0.9375rem;
}

.nav__animation i, .arrow i {
  padding: .75rem 0rem;
  font-size: 2rem;
}
  /* main section  */
  .container-fluid__banner {
    background-attachment: local;
  }

  hr {margin: 2.5rem 0rem 1.5rem 0rem;}
  .row {width: 100%;}
  section {padding-bottom: 2rem;}
  .row--margintop {margin-top: .5rem;}
  .text--align {text-align: left;}
  .text--padding {padding: 2rem 0rem 1rem 0rem}
  .text--paddingtop{padding-top: 1.5rem;}
  .text--marginbottom {margin-bottom: 1rem;}
  .row--row{-ms-flex-flow: row;flex-flow: row;}
  .col-sm-6 {width: 100%;}
  .hide--pic, .hide--768 {display: none;}
  div.project h3.project__header__text{font-size: 1.25rem;}
  div.project div.project__overlay div.project__description p {font-size: 0.85rem;}

  p {text-align: justify;}

  /* apple background fix */
  .container-fluid__banner {
    background-position: center;
    background-attachment: local;
  }
  div.project div.project__link-box {
    height: 40px;
    width: 40px;
  }


  ul.nav li a:active {background-color: #062C42;} /* fixed ipad/apple hover/active bug by
  making active state dissapear by setting the same background color as on nav */

  ul.skills.skills--nopadding {padding-top: 1rem;}
  .col-sm-6--marginbottom {margin-bottom: 0rem;}
  .row--margintop2 {margin-top: 1rem;}
  footer {height: 25rem;}

.popup, .hide2 {
  display:none;
}

div.language-box {
  position: absolute;
  top:2%;
}
