/* Portrait phones min400 */

@media all and (min-width: 400px) and (max-width: 469px) {

h1 {font-size: 2.5rem}

.hide--sm__link {
  display: block;
}

/* apple background fix */
.container-fluid__banner {
  background-position: center;
  background-attachment: local;
}
}
