/* Portrait phalet and phones landscape max600 */

@media all and (min-width: 470px) and (max-width: 600px) {


  h1 {font-size: 3rem;}
  h2 {font-size: 1.35rem;}
  h3 {font-size: 1rem;}
  h2.text-box__text--fontsize{font-size: 2rem;}
  h3.text-box__text--small{font-size: 1rem;}

/* navbar */
  .navbar--desktop {display: none;}

  /* main section  */
  hr {margin: 2.5rem 0rem 1.5rem 0rem;}
  .row {width: 100%;}
  section {padding-bottom: 2rem;}
  .row--margintop {margin-top: .5rem;}
  .text--align {text-align: center;}
  .p--fontweight--sm {font-weight: 400;}
  .p--fontsize--sm{font-size: 1.125rem;}
  .text--size {font-size: 1.75rem;}
  .text--padding {padding: 2rem 0rem 1rem 0rem}
  .text--marginbottom {margin-bottom: 1rem;}
  .row-column, .col-sm-6--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  .row-column--align, .col-sm-6--center {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .row-column--align {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

  .hide--sm470-767, .hide--Rhein {display: none;}


  p {
    text-align: justify;
  }
 .experience {
    margin: 0;
    padding: 0;
  }

  /* apple background fix */
  .container-fluid__banner {
    background-position: center;
    background-attachment: local;
  }

  .arrow {
    left: 0;
    width: 100%;
    border-radius: 0px;
    background-color: #062C42;
    -webkit-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
  }
  .arrow:hover {
    background-color: var(--main-ft-color-red);
  }
  .arrow i {
    font-size: 1.5rem;
  }

  ul.nav li a:active {background-color: #062C42;} /* fixed ipad/apple hover/active bug by
  making active state dissapear by setting the same background color as on nav */

  ul.skills.skills--nopadding {padding-top: 0;}
  .col-sm-6--marginbottom {margin-bottom: 2rem;}
  .row--margintop2 {margin-top: 1rem;}
  footer {height: 20rem;}

  div.language-box {
    position: absolute;
    top:2%;
    left:50%;
    margin-left:-75px;
  }
  section, footer {
    padding-left: 1rem;
    padding-right: 2rem;
  }
