body, html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.max--width{
  max-width: 1980px;
}


/* fonts/ main colors & main styles */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(font/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(font/OpenSans-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(font/OpenSans-SemiBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --main-bg-color-white:#f0f0f0;/*f0f0f0 passt auch*/
  --main-ft-color-red: rgba(110,23,25, 1);/*das rot */
  --border-color-red: rgba(200,23,25,1);/*border rot*/
  --sub-ft-color-blue: rgba(6,39,59,1);/*footer etc.*/
  --sub4-ft-colorfaded-blue: rgba(6,40,61,0.7);/* blue faded */
  --sub5-ft-colorwhite: #fafafa;
  --quote-color-444: #444;
}

h1 {
  font-size: 64px;
  font-size: 64px;
  font-size: 4rem;/* This is messing up the lowest width for smartphones*/
  font-weight: bold;
  color: var(--main-ft-color-red);
  border-bottom: rgba(158,158,158, 0.7) solid 1px;
  display: inline-block;
  letter-spacing: -0.5px;
}
hr {
  margin: 40px 0px 40px 0px;
  margin: 40px 0px 40px 0px;
  margin: 2.5rem 0rem 2.5rem 0rem;
}
.hr--color {border-color: rgba(6,40,61,0.1);}
.hr--color2 {border-color: rgba(252,252,252, 0.3) }


h2 {
  color: var(--sub-ft-color-blue);
  font-weight: 400;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  letter-spacing: -1.5px;
}

/* h2 font-size for headings Projects, Skils etc. */
.text-box__text--fontsize {font-size: 40px;font-size: 40px;font-size:2.5rem;}
.text-box__text--fontsize__japanese{font-size: 32px;font-size: 2rem;}
.text-box__text--margin{margin: 0px 0px 16px 0px;margin: 0px 0px 16px 0px;margin: 0rem 0rem 1rem 0rem;}
/*red headings */
.text-box__text--color,
.text--color{color: var(--main-ft-color-red);}
.text--size{font-size: 28px;font-size: 28px;font-size: 1.75rem;}
.text--fontsize__japanese {font-size: 24px;font-size: 1.5rem;}

h3 {
  color:   var(--sub4-ft-colorfaded-blue);
  font-size: 20px;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px 0px 8px 0px;
  margin: 0px 0px 8px 0px;
  margin: 0rem 0rem 0.5rem 0rem;
  letter-spacing: -0.5px;
}
h3.japanese{
  font-size: 18px;
  font-size: 1.125rem;
}
/*h3 smaller font */
.text-box__text--small{font-size: 18px;font-size: 18px;font-size: 1.125rem;}

h4 {
  color: var(--sub4-ft-colorfaded-blue);
  font-size: 12px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  color: var(--sub4-ft-colorfaded-blue);
  font-size: 15px;
  font-size: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing:;
  margin: 8px 0px 0px 0px;
  margin: 8px 0px 0px 0px;
  margin: 0.5rem 0rem 0rem 0rem;
  letter-spacing: -0.5px;
}
ul {
  padding: 16px 0px 0px 0px;
  padding: 16px 0px 0px 0px;
  padding: 1rem 0rem 0rem 0rem;;
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  color: var(--sub4-ft-colorfaded-blue);
  font-weight: 400;
  line-height: 2;
  list-style:none;
}
ul.experience {
  list-style: unset;
}

ul.experience li {
  margin-left: 18px;
  margin-left: 1.125rem;
}
ul.experience li.location {
  margin-left: 0;
}

.focus {
  color:var(--sub4-ft-colorfaded-blue);
  font-weight: 600;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
}

section {padding: 16px 0px 32px 0px;padding: 16px 0px 32px 0px;padding: 1rem 0rem 2rem 0rem;}

.container-fluid {padding: 0;}
.section--color {background-color: var(--main-bg-color-white);}
.section--white {background-color: var(--sub5-ft-colorwhite);}

/* Banner & Header Section*/
.container-fluid__banner {
  background-image: url("../images/landscape-2.jpg"); /* to get the path right, you need to think where you are first, you are in the css folder*/
  background-repeat: no-repeat;
  background-size: cover;/*this is what scales the image*/
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
/* media query for ipads fix for background-attachment */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
.container-fluid__banner {
  background-position: center;
  background-attachment: local;
}
}

.text-box {
text-align: center;
margin: 16px 0px 16px 0px;
margin: 16px 0px 16px 0px;
margin: 1rem 0rem 1rem 0rem;
}

/* adjust name in banner */
.text-box--padding-bottom{padding-bottom: 240px;padding-bottom: 240px;padding-bottom: 15rem;}

/* fonts and extra styles */
.text--margin{margin: 0px 0px 32px 0px;margin: 0px 0px 32px 0px;margin: 0rem 0rem 2rem 0rem;}
.p--sm {font-size: 16px;font-size: 16px;font-size: 1rem;}
.text--fontweight {font-weight:bold;}
.text--fontweight2 {font-weight: 600;}
.p--color{color: var(--sub4-ft-colorfaded-blue);}
.text-box__text--margintop {margin-top: 16px;margin-top: 16px;margin-top: 1rem}
.text--padding {padding: 24px 0px 8px 4px;padding: 24px 0px 8px 4px;padding: 1.5rem 0rem .5rem 0.25rem;}
.text--paddingleft {padding-left: 4px;padding-left: 4px;padding-left: .25rem;}
.text--paddingbottom {padding-bottom: 32px;padding-bottom: 32px;padding-bottom: 2rem;}
.text--paddingtop{padding-top: 32px;padding-top: 32px;padding-top: 2rem}
.text--alignproject{text-align: center}
.text--justify{text-align: justify}
.japanese__2 {font-size: 20px;font-size: 1.25rem;}
.link{
  text-decoration: none;
  border-bottom: 2px solid var(--border-color-red);
  color: var(--sub4-ft-colorfaded-blue);
  font-weight:600;
}
/*a.link:hover only for the intext links not the hyperlinks*/
a:link, a:visited, a.link:hover, a:active {
  text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/*language section*/

div.language-box {
  position: absolute;
  top:4%;
  left:2%;
}

ul.languages {
  padding-top: 5px;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow:row;
      flex-flow:row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages li {
  margin: 0px 10px;
}

.flag {
  width: 30px;
  height: 30px;
}


/* navigation bar with arrow*/

/* bar is fixed to the side
could not separate arrow and navbar
were unable to create a position: relative, position: absolute, position: fixed
structure, to make fixed start furhter down the page as intended. Worekd on learning Page
but not on this page */


.navbar--smartphone {
  display: none;
}


.navbar {
  position: fixed;
  top: 5%;
  left: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  text-align: center;
  z-index: 10;
}

.arrow {
  position: fixed;
  bottom: 0%;
  left: 86%;
  z-index: 1000;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  padding: 0;
}

.navbar ul.nav li, .arrow {
  width: 112px;
  width: 112px;
  width: 7rem;
  padding: 0px 0px;
  padding: 0px 0px;
  padding: 0rem 0rem;
}

.navbar ul.nav li a, .navbar ul.nav li a:hover {
  text-decoration: none;
  color: var(--sub5-ft-colorwhite);
  font-weight: 400;
  padding: 32px 0px;
  padding: 32px 0px;
  padding: 2rem 0rem;/* height of the nav */
}

li.nav__animation, .arrow {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}
.nav__animation i{
 font-size: 32px;
 font-size: 32px;
 font-size: 2rem;
 padding: 24px 0px;
 padding: 24px 0px;
 padding: 1.5rem 0rem;
 color: var(--sub5-ft-colorwhite);
 position: relative;
 -webkit-animation-name: mymove;
         animation-name: mymove;
 -webkit-animation-duration: 1.2s;
         animation-duration: 1.2s;
 -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
         animation-timing-function: linear;
}

.arrow i{
  padding: 8px 0px;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  font-size: 32px;
  font-size: 32px;
  font-size: 2rem;
  color:var(--sub5-ft-colorwhite);
}

@-webkit-keyframes mymove {
   0% {top: 0px;}
   50% {top: 10px;}
   100% {top: 0px;}
}

@keyframes mymove {
   0% {top: 0px;}
   50% {top: 10px;}
   100% {top: 0px;}
}

.navbar ul.nav li {background-color: #062C42;}/*different from rest because of contrast to footer when scrolling down*/

/* the border-radius 4px turned out to be a pain in the ass because there are so
many different states involeved all need to be adjusted */

/* again there seems to be a white background color comming from the bootstrap css
this is to fix this */
/* THIS IS WHERTE THE SPY IS TAKING EFFECT*/
.navbar ul.nav li.active a, .arrow {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-ft-color-red);
}
.arrow {
  border-radius: 4px 4px 0px 0px;
}

/* active a:hover is in there because of a border that comes from the bootstrap css */
ul.nav.nav-tabs, ul.nav.nav-tabs a, .navbar ul.nav li.active a:hover {
  color: var(--sub5-ft-colorwhite);
  border: none;
  border-radius: 0px;
  margin: 0;
}

/*this one drove me crazy, I could not find the state that needed to be
adjusted for the round corners. Eventually, I found it with dev Tools
and all I needed to do was write the path down*/
ul.nav li a:hover {
    background-color: var(--main-ft-color-red);
    border-radius: 0px 0px 4px 4px;
}

.nav--bordertop {border-radius: 4px 4px 0px 0px;}
.nav--borderbottom {border-radius: 0px 0px 4px 4px;}

/* main section: About Me etc.*/
.container-fluid--align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
}

.row-width-30 {-webkit-box-flex: 1;-ms-flex: 1 1 30%;flex: 1 1 30%;}
.row--margintop {margin-top: 16px;margin-top: 16px;margin-top:1rem;}
.row--margintop2 {margin-top: 32px;margin-top: 32px;margin-top:2rem;}
.col--margin {margin: 16px 16px;margin: 16px 16px;margin: 1rem 1rem;}

.col--picture {
  width: 25%;
  height: auto;
  overflow: hidden;
}

.col--picture img {
max-width:100%;
height: auto;
}
/*to adjust picture with eye */
.col-sm-1 {
  margin-right: 15px;
}

.col-sm-4, .col-sm-6, .col-sm-12 {
  margin-left: 16px;
  margin-left: 1rem;
}

.experience {
  padding: 0;
  margin: 8px 0px 0px 0px;
  margin: 8px 0px 0px 0px;
  margin: 0.5rem 0rem 0rem 0rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-ft-color-red); /*#9c1e1e*/
  font-weight: normal;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  margin: 12px 0px 16px 0px;
  margin: 12px 0px 16px 0px;
  margin: 0.75rem 0rem 1rem 0rem;
}
.location i {
  margin-right: 8px;
  margin-right: 8px;
  margin-right: 0.5rem;
}
.location .fa-link {
  padding-left: 8px;
  padding-left: 8px;
  padding-left: 0.5rem;
  margin-left: 8px;
  margin-left: 8px;
  margin-left: 0.5rem;
  border-left: var(--main-ft-color-red) solid 1px;
}
.location a {
  color: var(--main-ft-color-red);
}


/* Popup container - can be anything you want */

.business--cards{
  width: 240px;
  height: 150px;
}

.business--cards__marginright{
  margin-right: 20px;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    background-color: var(--sub5-ft-colorwhite);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 0px;
    position: absolute;
    z-index: 100;
    bottom: 100%;
    left: 50%;
    margin-left: -200px;
    width: 540px;
    height: 180px;
    box-shadow: 3px 3px 10px #d1d1d1;
}

/* Popup arrow */
.popup .popuptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--sub5-ft-colorwhite) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    to {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@keyframes fadeIn {
    from {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    to {opacity:1 ;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

/* size of the stars*/
.fas {font-size: 13.2px;font-size: 13.2px;font-size: 0.825rem;}

/* skills section styles */
.skills li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 30.4px;
  line-height: 30.4px;
  line-height: 1.9rem;
}
.skills{
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--sub4-ft-colorfaded-blue);
}
.margin--bottom{margin-bottom: 20px;}

.fa--color {color: rgba(6,39,59,0.9);}
.fa--colorfaded {color: rgba(6,39,59,0.25);}

.skills--hover i{-webkit-transition: padding-left 250ms ease-in-out;transition: padding-left 250ms ease-in-out;}
/* never place the transition on the hover
it will result in a terrible snap back effect */
.skills--hover:hover i {padding-left: 3.2px;padding-left: 3.2px;padding-left: 0.2rem;}
/* if you place it directly on the skills--icons
the icons will only change when hovered on directly
but not on li*/
.skills li {
  -webkit-transition: background-color 150ms ease-in 0ms;
  transition: background-color 150ms ease-in 0ms;
  padding: 0px 4px;
  padding: 0px 4px;
  padding:0rem 0.25rem;
}
.skills--hover:hover{
  background-color: white;
  border-radius: 2px;
  padding: 0px -16px;
  padding: 0px -16px;
  padding: 0rem -1rem;
}

/*project section */
.col-sm-6--position{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.project {
width: 100%;
height: 96%;
max-width: 400px;
max-height: auto;
overflow: hidden;
position: relative;
}

/*  transition effect directely on element */
.project img {
  max-width: calc(100% + 11px);/* the transform offset needs to be equalized*/
  height: auto;               /*without this the picture will grow 10px on hover*/
  display: block;             /* 11px is to fix a 1px bug where the pic needs + 1px */
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform:translate3d(-10px, 0px, 0px);
          transform:translate3d(-10px, 0px, 0px);/* set it to the left on purpose*/
  -webkit-transition: all 250ms linear 0ms;
  transition: all 250ms linear 0ms;
  overflow: hidden;
  margin-top: -8px;
}
/* values on hover effect for better animation */
.project:hover img{
  -webkit-transform:translate3d(0px, 0px, 0px);
          transform:translate3d(0px, 0px, 0px);/* sets it back to original position*/
}

div.project div.project__link-box {
  height: 48px;
  width: 48px;
  background-color: #6e1719;
  position: absolute;
  top: 0%;
  right:0%;
  border-radius: 0px 0px 0px 4px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

div.project div.project__link-box i {
  color: #f9f9f9;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  padding: 0px 0px 1.6px 4.8px;
  padding: 0px 0px 1.6px 4.8px;
  padding:0rem 0rem 0.1rem 0.3rem;
}

.project--border {

  box-shadow: 0px 3px 10px #d1d1d1;
}

/* transition on element directly */
.project__overlay {
   position: absolute;
   bottom: 0;
   left: 100%;
   right: 0;
   background-color: rgba(110,23,25, .65);/* set opacity to color, so font is not effected */
   overflow: hidden;
   width: 0;
   height: 100%;
   -webkit-transition: .5s ease;
   transition: .5s ease;
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   z-index: 0;
   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transform: translateZ(0) scale(1.0, 1.0);
           transform: translateZ(0) scale(1.0, 1.0);
}

/* overlay for faded red color
over effect directly on project*/
.project:hover .project__overlay{
  width: calc(100% + 1px);/* to fix additoinal 1px on hover */
  left:0;
}

div.project div.project__overlay div.project__description p {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #dfdfdf;
  white-space: nowrap;
  font-size: 18px;
  font-size: 18px;
  font-size: 1.125rem;
}

/* only when I hover on project, will the description become
opacity 1, otherwise it is 0*/
div.project:hover div.project__header {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
div.project div.project__header{
    -webkit-transition: all 250ms linear 0ms;
    transition: all 250ms linear 0ms;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

div.project h3.project__header__text {
  font-size: 24px;
  font-size: 24px;
  font-size:1.5rem;
  color: #dfdfdf;
  font-weight: normal;
  padding-bottom: 5.6px;
  padding-bottom: 5.6px;
  padding-bottom: 0.35rem;
  position: absolute;
  top: 10%;
  left: 10%;
  border-bottom: 2px solid transparent;
  width: 0%;
  white-space: nowrap;
  -webkit-transition: all 550ms linear 0ms;
  transition: all 550ms linear 0ms;
}

/* again, in order to hover the border with the rest of the description__text
hover needs to be placed on top level which is project */
div.project:hover .project__header__text {
  border-bottom: 2px solid #dfdfdf;
  width: 77%;
  z-index: 1;
}
div.project div.project__header h3 {
  -webkit-transition: all 450ms linear 0ms;
  transition: all 450ms linear 0ms;
}
/* footer */
footer {
  background-color: var(--sub-ft-color-blue);
  height: 368px;
  height: 368px;
  height: 23rem;
  padding: 16px 0px;
  padding: 16px 0px;
  padding: 1rem 0rem;
}


/*footer font for contrast */
.text-box__text--color2 {color: var(--sub5-ft-colorwhite);}
.text-box__text--color3, footer h4 {color: #f9f9f9;}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__icon {
  background-color: var(--sub5-ft-colorwhite);
  border-radius: 50px;
  text-align: center;
  width: 40px;
  width: 40px;
  width: 2.5rem;
  padding: 8px 0px;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  margin: 0px 16px;
  margin: 0px 16px;
  margin: 0rem 1rem;
}
.contact__icon {-webkit-transition: background-color 200ms linear 0ms;transition: background-color 250ms linear 0ms;}
.contact__icon:hover{background-color:#d5d5d5;}
.contact__mail, .contact__facebook {color: var(--sub-ft-color-blue);}
.contact__mail {font-size: 18px;font-size: 18px;font-size: 1.125rem;}
